{% extends 'base.html.twig' %}

{% block title %}Painting GuessR
{% endblock %}
{% block body %}
	<body class="homeMain">

		<div class="">

			<h1 class="MainTitle">
				Painting GuessR
			</h1>

			<h3 class="homeBaseline">
				Un jeu à propos d'art
			</h3>

			<div class="divButton">

				<a href="{{ path('app_painting_random') }}">
					<button href="/painting/random" class="buttonPlay" type="button">
						Jouer
					</button>
				</a>

			</div>
		</div>
	</body>
{% endblock %}
