<form method="post" action="{{ path('app_painting_delete', {'id': painting.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cette peinture ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ painting.id) }}">
	<button class="btnDelete mt-3">Delete</button>
</form>
