{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle peinture
{% endblock %}

{% block body %}

	<body class="homeImage">

		<h1 class="editTitle">Créer une nouvelle peinture</h1>

		<div class="alertContainer">
			<div>

				{{ include('painting/_form.html.twig') }}
				<a class="returnText mt-3" href="{{ path('app_painting_index') }}">Retour à la liste</a>
			</div>
		</div>

	</body>
{% endblock %}
