{% extends 'base.html.twig' %}

{% block title %}New Painting{% endblock %}

{% block body %}
    <h1>Create new Painting</h1>

    {{ include('painting/_form.html.twig') }}

    <a href="{{ path('app_painting_index') }}">back to list</a>
{% endblock %}
