{% extends 'base.html.twig' %}

{% block title %}Painting
{% endblock %}

{% block body %}

	<main class="quizzPage">

		{% if verificationResult == 'Correct answer!' %}
			<div class="alert alert-success alertQuizz">Bonne réponse !</div>
		{% elseif verificationResult == 'Wrong answer.' %}
			<div class="alert alert-danger alertQuizz">Mauvaise réponse !</div>
		{% endif %}

		<div class="answersQuizz">

			<h2>
				<a data-bs-toggle="collapse" href="#screenGallery" role="button" aria-expanded="false" aria-controls="screenGallery">Deviner</a>

			</h2>
			<div class="collapse" id="screenGallery">
				<div class="row m-5 quizzForm">

					<h3 class="logoTitle">La peinture est :</h3>

					<form method="post">
						<div class="form-group">
							<label for="selectedAnswer"></label>
							<select class="form-control" id="selectedAnswer" name="selectedAnswer">
								{% for painting in paintings %}
									<option value="{{ painting.paintingName }}">{{ painting.paintingName }}</option>
								{% endfor %}
							</select>
						</div>
						<button type="submit" class="btn btn-primary">Valider</button>
					</form>
				</div>
			</div>

			<a class="navquizz" href="/painting/quizz/{{ random(['19', '20', '21', '22']) }}">
				<button type="button" class="navquizz">Tester une nouvelle peinture</button>
			</a>

		</div>

		<img src="{{ asset('build/images/' ~ painting.paintingURL) }}" class="imgQuizz">

	</main>
{% endblock %}
