{% extends 'base.html.twig' %}

{% block title %}Painting
{% endblock %}

{% block body %}

	{# <div id="painting-container"> #}
	{# <img src="Assets/starrynight.jpg" id="painting"> #}
	{# </div> #}
		<head><script src="https://code.jquery.com/jquery-3.6.0.min.js"> </script>
	</head>

	<main id="painting-container">
		<div class="alertContainer">
			{% if verificationResult == 'Correct answer!' %}
				<div class="alert alertSuccessQuizz alertQuizz">Bonne réponse !</div>
			{% elseif verificationResult == 'Wrong answer.' %}
				<div class="alert alertDangerQuizz alertQuizz">Mauvaise réponse !</div>
			{% endif %}
		</div>

		<div class="answersQuizz">

			<a class="navquizz" href="{{ path('app_painting_random') }}">
				<button type="button" class="navquizz btnSkip">Passer à un autre tableau ▶</button>
			</a>

			<h2 class="mt-3">
				<a data-bs-toggle="collapse" href="#screenGallery" role="button" aria-expanded="false" aria-controls="screenGallery" class="guessQuizz">DEVINER</a>

			</h2>
			<div class="collapse" id="screenGallery">
				<div class="row quizzForm">

					<h3 class="semiTitleQuizz">La peinture est :</h3>

					<form method="post">
						<div class="form-group">
							<label for="selectedAnswer"></label>
							<select class="form-control selectQuizz" id="selectedAnswer" name="selectedAnswer">
								{% for painting in paintings %}
									<option value="{{ painting.paintingName }}" class="valueQuizz">{{ painting.paintingName }}</option>
								{% endfor %}
							</select>
						</div>
						<button type="submit" class="btnQuizz">Valider</button>
					</form>

				</div>
			</div>

		</div>

		<img src="{{ asset('build/images/' ~ painting.paintingURL) }}" class="imgQuizz" id="painting">

	</main>
{% endblock %}
